DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

# GEMINI_API_KEY="AIzaSyBErV47YbwONOOCH6aRAbRz122fXL8n6iw"
# CONTEXT7_API_KEY="ctx7sk-4ae6ff5d-d55a-4a97-a78a-671f0f78006e"
